<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" data-simply-field="meta description" content="">
        <meta name="author" data-simply-field="meta author"content="simplyedit">
        <meta name="robots" data-simply-field="meta robots" content="index, follow">
        <link rel="shortcut icon" href="./favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" >
        <link rel="stylesheet" href="../assets/css/theme.css">
        <link rel="stylesheet" href="../assets/css/user.css">
        <title data-simply-field="meta title"> PDS Interop | Page </title>
    </head>
    <body>
        <header id="header" class="navbar navbar-expand-lg navbar-light navbar-right bg-white">
            <div class="container">
                <nav class="js-mega-menu navbar-nav-wrap">
                    <a class="navbar-brand" href="/" aria-label="Space">
                        <img data-simply-field="logo" class="navbar-brand-logo" src="https://avatars3.githubusercontent.com/u/65920341" alt="Image Description">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-default">
                        <i class="bi-list"></i>
                        </span>
                        <span class="navbar-toggler-toggled">
                        <i class="bi-x"></i>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul data-simply-list="header-list" data-simply-sortable class="navbar-nav">
                            <template>
                                <li class="nav-item">
                                    <a data-simply-field="header-item" class="pds-nav-link nav-link" href="#" role="button" aria-expanded="false">Item 1</a>
                                </li>
                            </template>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <main data-simply-list="sections" data-simply-sortable>
            <!-- Hero -->
            <section data-simply-template="hero" class="pds-bg-primary-dark">
                <div class="container content-space-1 content-space-md-2">
                    <div class="row justify-content-lg-center position-relative zi-2">
                        <div class="col-lg-8">
                            <!-- List Separator -->
                            <ul data-simply-list="breadcrumbs-list" data-simply-data="breadcrums" data-simply-entry="entry" class="list-inline list-separator list-separator-light mb-4">
                                <template>
                                    <li class="list-inline-item">
                                        <a data-simply-field="entry" class="text-uppercase link-light small" href="#">Page</a>
                                    </li>
                                </template>
                            </ul>
                            <!-- End List Separator -->

                            <div class="mb-6">
                                <h1 data-simply-field="title" class="h2 text-white">How to attract top talent in competitive industries</h1>
                                <p data-simply-field="summary" class="lead text-white">Top talent’s there for the picking, regardless of industry.</p>
                            </div>

                            <!-- Media -->
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img data-simply-field="author-img" class="avatar avatar-circle" src="../assets/img/160x160/img9.jpg" alt="Image Description">
                                </div>

                                <div class="flex-grow-1 ms-3">
                                    <h6 class="text-white mb-0">
                                        <a data-simply-field="author-name" class="link-light" href="../blog-author-profile.html">Christina Kray</a>
                                    </h6>
                                    <span class="d-block text-white-70">1 day ago</span>
                                </div>
                            </div>
                            <!-- End Media -->

                            <div class="my-5">
                                <img data-simply-field="img" class="img-fluid" src="../assets/img/900x600/img6.jpg" alt="Image Description">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Shape -->
                <div class="shape-container">
                    <div class="shape shape-bottom zi-1">
                        <svg width="3000" height="600" viewBox="0 0 3000 600" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 600H3000V0L0 600Z" fill="#fff"/>
                        </svg>
                    </div>
                </div>
                <!-- End Shape -->
            </section>
            <!-- End Hero -->

            <!-- Description -->
            <section data-simply-template="blog-content" class="container content-space-b-1 content-space-b-md-3">
                <div class="row justify-content-lg-center">
                    <div data-simply-list="content" data-simply-sortable class="col-lg-8">
                        <template data-simply-template="blog-quote">
                            <figure class="mb-3">
                                <blockquote data-simply-field="quote" class="blockquote">“ There’s going after top talent, and then there’s going after top talent within highly-competitive industries. “</blockquote>
                            </figure>
                        </template>

                        <template data-simply-template="blog-text">
                            <p data-simply-field="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum pariatur accusantium deleniti quo natus blanditiis aspernatur ipsum culpa sed, soluta ad aliquam cum tempora magnam? Debitis culpa repellat eos sequi!</p>
                        </template>
                        
                        <template data-simply-template="blog-img">
                            <div class="my-5">
                                <img data-simply-field="img" class="img-fluid" src="../assets/img/900x600/img4.jpg" alt="Image Description">
                            </div>
                        </template>

                        <template data-simply-template="blog-text-with-heading">
                            <div class="mb-5">
                                <h5 data-simply-field="content-heading">Step 2: Get the conversation started</h5>
                                <p data-simply-field="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, dolorum voluptatibus eaque adipisci accusantium a eius magnam inventore. Adipisci suscipit error minima, officiis dolores itaque deleniti ut voluptatem laborum maxime.</p>
                            </div>
                        </template>

                        <template data-simply-template="social-media-links">
                            <div class="row">
                                <div class="col-sm-6 mb-5 mb-sm-0">
                                    <div class="d-flex align-items-center">
                                        <h6 class="me-3 mb-0">Share:</h6>

                                        <ul data-simply-list="social-media-list" data-simply-sortable class="list-inline mb-0">
                                            <template data-simply-template="facebook">
                                                <li class="list-inline-item">
                                                    <a data-simply-field="facebook-link" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" href="#">
                                                        <i class="bi-facebook"></i>
                                                    </a>
                                                </li>
                                            </template>
                                            <template data-simply-template="twitter">
                                                 <li class="list-inline-item">
                                                    <a data-simply-field="twitter-link" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" href="#">
                                                        <i class="bi-twitter"></i>
                                                    </a>
                                                </li>
                                            </template>
                                           <template data-simply-template="instagram">
                                               <li class="list-inline-item">
                                                    <a data-simply-field="instagram-link" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" href="#">
                                                        <i class="bi-instagram"></i>
                                                    </a>
                                                </li>
                                           </template>
                                           <template data-simply-template="linkedin">
                                               <li class="list-inline-item">
                                                    <a data-simply-field="linkedin-link" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" href="#">
                                                        <i class="bi-linkedin"></i>
                                                    </a>
                                                </li>
                                           </template>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </section>
        </main>

        <footer class="pds-bg-primary-dark border-top border-white-10">
            <div class="container">
                <div class="row content-space-1">
                    <div class="col-12 col-lg-3 mb-7 mb-lg-0">
                        <div class="mb-5">
                            <a class="navbar-brand" href="/" aria-label="Space">
                                <img data-simply-field="logo" class="navbar-brand-logo" src="https://avatars3.githubusercontent.com/u/65920341" alt="Image Description">
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-sm mb-7 mb-sm-0">
                        <span data-simply-field="footer-list-title-1" class="text-cap pds-text-primary-light">Resources</span>

                        <ul data-simply-list="footer-list-1" class="list-unstyled list-py-1 mb-0">
                            <template>
                                <li>
                                    <a data-simply-field="footer-list-item-1" class="link-sm link-light" href="#">item 1</a>
                                </li>
                            </template>
                        </ul>
                    </div>

                    <div class="col-6 col-sm">
                        <span data-simply-field="footer-list-title-2" class="text-cap pds-text-primary-light">Legal</span>

                        <ul data-simply-list="footer-list-2" class="list-unstyled list-py-1 mb-5">
                            <template>
                                <li>
                                    <a data-simply-field="footer-list-item-2" class="link-sm link-light" href="#">item 1</a>
                                </li>
                            </template>
                        </ul>

                        <span data-simply-field="footer-list-title-3" class="text-cap pds-text-primary-light">Docs</span>

                        <ul data-simply-list="footer-list-3" class="list-unstyled list-py-1 mb-0">
                            <template>
                                <li>
                                    <a data-simply-field="footer-list-item-3" class="link-sm link-light" href="#">item 1</a>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>

                <div class="border-top border-white-10"></div>

                <div class="row align-items-md-end py-5">
                    <div class="col-md mb-3 mb-md-0">
                        <p class="text-white mb-0">Copyright © 2020-2021 PDS Interop. Distributed under an <a rel="license" href="https://pdsinterop.org/license/">MIT license</a>.</p>
                    </div>

                    <div class="col-md d-md-flex justify-content-md-end">
                        <ul data-simply-list="social-media-list" data-simply-sortable class="list-inline mb-0">
                            <template data-simply-template="social-media-facebook">
                                <li class="list-inline-item">
                                    <a data-simply-field="facebook" class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="#">
                                        <i class="bi bi-facebook"></i>
                                    </a>
                                </li>
                            </template>
                            <template data-simply-template="social-media-twitter">
                                <li class="list-inline-item">
                                    <a data-simply-field="twitter" class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="#">
                                        <i class="bi bi-twitter"></i>
                                    </a>
                                </li>
                            </template>
                            <template data-simply-template="social-media-github">
                                <li class="list-inline-item">
                                    <a data-simply-field="github" class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="#">
                                        <i class="bi bi-github"></i>
                                    </a>
                                </li>
                            </template>
                            <template data-simply-template="social-media-slack">
                                <li class="list-inline-item">
                                    <a data-simply-field="slack" class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="#">
                                        <i class="bi bi-slack"></i>
                                    </a>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
        
        <!-- JS Space -->
        <script src="../assets/js/hs.core.js"></script>
        <script src="../assets/js/theme.min.js"></script>
        <script src="../assets/js/hs.bs-validation.js"></script>
        <script src="../assets/js/theme-custom.js"></script>

        <script src="//cdn.simplyedit.io/1/simply-edit.js" 
            data-api-key="muze"
            data-simply-images="/img/"
            data-simply-files="/files/"
            data-simply-settings="seSettings"
            data-storage-get-post-only
        ></script>
        <script src="/js/simplyedit-helper.js"></script>
    </body>
</html>