<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" data-simply-field="meta description" content="">
        <meta name="author" data-simply-field="meta author"content="simplyedit">
        <meta name="robots" data-simply-field="meta robots" content="index, follow">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/assets/css/hyper-layout.css">
        <link rel="stylesheet" href="/assets/design/styles.css">
        <link rel="preload" href="/assets/design/pages.html" as="fetch">
        <title data-simply-field="meta title">SimplyEdit Start</title>
    </head>
    <body>
        <link rel="simply-include" href="/assets/design/pages.html">

        <header class="hyper-layout-sticky hyper-layout-fixed-size">
            Header
        </header>

        <main class="hyper-layout hyper-layout-pages" data-simply-list="hyper-pages" data-simply-data="hyper-pages">
            <template>
                <div data-simply-path="/" data-simply-field="data-simply-path" data-simply-content="attributes" data-simply-attributes="data-simply-path">
                    <div data-simply-field="data-simply-template" data-simply-content="template">
                        <template data-simply-template="default" rel="default"></template>
                        <template data-simply-template="bar" rel="bar"></template>
                    </div>
                </div>
            </template>
        </main>

        <footer class="hyper-layout-fixed-size">
            Footer
        </footer>

        <div class="hyper-layout-layer hyper-layout-fixed-position hyper-hidden hyper-layout-layer-1000 hyper-layout-full-size">
            
            <dialog data-simply-dialog="my-dialog" class="hyper-layout-center-both">Dialog <button data-simply-command="closeDialog" data-simply-value="my-dialog">x</button></dialog>

            <div class="hyper-layout-backdrop"></div>
        </div>

        <script src="/assets/js/simplyview/simply.everything.js"></script>
        <script src="/assets/js/settings.js"></script>
        <script src="//cdn.simplyedit.io/1/simply-edit.js" 
            data-api-key="muze"
            data-simply-images="/img/"
            data-simply-files="/files/"
            data-simply-settings="seSettings"
            data-storage-get-post-only
        ></script>
        <script src="/assets/js/simplyedit-helper.js"></script>
        <script src="/assets/js/app/app.js"></script>
    </body>
</html>