<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" data-simply-field="meta description" content="">
        <meta name="author" data-simply-field="meta author"content="simplyedit">
        <meta name="robots" data-simply-field="meta robots" content="index, follow">
        <link rel="shortcut icon" href="./favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" >
        <link rel="stylesheet" href="../assets/css/theme.css">
        <link rel="stylesheet" href="../assets/css/user.css">
        <title data-simply-field="meta title"> PDS Interop | Page </title>
    </head>
    <body>
        <header id="header" class="navbar navbar-expand-lg navbar-light navbar-right bg-white">
            <div class="container">
                <nav class="js-mega-menu navbar-nav-wrap">
                    <a class="navbar-brand" href="/" aria-label="Space">
                        <img data-simply-field="logo" class="navbar-brand-logo" src="https://avatars3.githubusercontent.com/u/65920341" alt="Image Description">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-default">
                        <i class="bi-list"></i>
                        </span>
                        <span class="navbar-toggler-toggled">
                        <i class="bi-x"></i>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul data-simply-list="header-list" data-simply-sortable class="navbar-nav">
                            <template>
                                <li class="nav-item">
                                    <a data-simply-field="header-item" class="pds-nav-link nav-link" href="#" role="button" aria-expanded="false">Item 1</a>
                                </li>
                            </template>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <!-- Description -->
        <main>
            <div class="container content-space-1">
                <div data-simply-list="sections" data-simply-sortable class="row">
                    <section data-simply-template="navbar-slice" class="col-md-4 col-lg-3 mb-3 mb-md-0">
                        <!-- Navbar -->
                        <div  class="navbar-expand-md">
                            <!-- Navbar Mobile Toggle -->
                            <div class="d-grid">
                                <button type="button" class="navbar-toggler btn btn-white mb-3" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenuEg2" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenuEg2">
                                    <span class="d-flex justify-content-between align-items-center">
                                        <span class="text-dark mb-0">Menu</span>
                                        <span class="navbar-toggler-default">
                                            <i class="bi-list"></i>
                                        </span>
                                        <span class="navbar-toggler-toggled">
                                            <i class="bi-x"></i>
                                        </span>
                                    </span>
                                </button>
                            </div>
                            <!-- End Navbar Mobile Toggle -->

                            <!-- Navbar Collapse -->
                            <div id="navbarVerticalNavMenuEg2" class="collapse navbar-collapse">
                                <ul data-simply-list="navbar" data-simply-sortable id="navbarSettingsEg2" class="js-sticky-block js-scrollspy nav nav-tabs nav-link-gray nav-vertical"
                                    data-hs-sticky-block-options='{
                                    "parentSelector": "#navbarVerticalNavMenuEg2",
                                    "targetSelector": "#header",
                                    "breakpoint": "md",
                                    "startPoint": "#navbarVerticalNavMenuEg2",
                                    "endPoint": "#stickyBlockEndPointEg2",
                                    "stickyOffsetTop": 20
                                    }'>
                                    <template data-simply-template="navbar-item">
                                        <li class="nav-item">
                                            <a data-simply-field="item" class="nav-link active" href="#accountInfo">1. Accounts</a>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                            <!-- End Navbar Collapse -->
                        </div>
                        <!-- End Navbar -->
                    </section>
                    <!-- End Col -->

                    <section data-simply-template="content-text" class="col-md-8 col-lg-9">
                        <template data-simply-template="text" class="mb-7">
                            <p data-simply-field="text-field">Thanks for using our products and services ("Services"). The Services are provided by Pixeel Ltd. ("Space"), located at 153 Williamson Plaza, Maggieberg, MT 09514, England, United Kingdom.</p>
                        </template>

                        <template data-simply-template="text-with-heading" id="accountInfo" class="mb-7">
                            <h4 data-simply-field="heading">1. Accounts</h4>

                            <p data-simply-field="text">When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>
                        </template>

                        <!-- End Sticky End Point -->
                        <div id="stickyBlockEndPointEg2"></div>
                    </section>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
        </main>
        
        <!-- End Description -->

        <footer class="pds-bg-primary-dark border-top border-white-10">
            <div class="container">
                <div class="row content-space-1">
                    <div class="col-12 col-lg-3 mb-7 mb-lg-0">
                        <div class="mb-5">
                            <a class="navbar-brand" href="/" aria-label="Space">
                                <img data-simply-field="logo" class="navbar-brand-logo" src="https://avatars3.githubusercontent.com/u/65920341" alt="Image Description">
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-sm mb-7 mb-sm-0">
                        <span data-simply-field="footer-list-title-1" class="text-cap pds-text-primary-light">Resources</span>

                        <ul data-simply-list="footer-list-1" class="list-unstyled list-py-1 mb-0">
                            <template>
                                <li>
                                    <a data-simply-field="footer-list-item-1" class="link-sm link-light" href="#">item 1</a>
                                </li>
                            </template>
                        </ul>
                    </div>

                    <div class="col-6 col-sm">
                        <span data-simply-field="footer-list-title-2" class="text-cap pds-text-primary-light">Legal</span>

                        <ul data-simply-list="footer-list-2" class="list-unstyled list-py-1 mb-5">
                            <template>
                                <li>
                                    <a data-simply-field="footer-list-item-2" class="link-sm link-light" href="#">item 1</a>
                                </li>
                            </template>
                        </ul>

                        <span data-simply-field="footer-list-title-3" class="text-cap pds-text-primary-light">Docs</span>

                        <ul data-simply-list="footer-list-3" class="list-unstyled list-py-1 mb-0">
                            <template>
                                <li>
                                    <a data-simply-field="footer-list-item-3" class="link-sm link-light" href="#">item 1</a>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>

                <div class="border-top border-white-10"></div>

                <div class="row align-items-md-end py-5">
                    <div class="col-md mb-3 mb-md-0">
                        <p class="text-white mb-0">Copyright © 2020-2021 PDS Interop. Distributed under an <a rel="license" href="https://pdsinterop.org/license/">MIT license</a>.</p>
                    </div>

                    <div class="col-md d-md-flex justify-content-md-end">
                        <ul data-simply-list="social-media-list" data-simply-sortable class="list-inline mb-0">
                            <template data-simply-template="social-media-facebook">
                                <li class="list-inline-item">
                                    <a data-simply-field="facebook" class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="#">
                                        <i class="bi bi-facebook"></i>
                                    </a>
                                </li>
                            </template>
                            <template data-simply-template="social-media-twitter">
                                <li class="list-inline-item">
                                    <a data-simply-field="twitter" class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="#">
                                        <i class="bi bi-twitter"></i>
                                    </a>
                                </li>
                            </template>
                            <template data-simply-template="social-media-github">
                                <li class="list-inline-item">
                                    <a data-simply-field="github" class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="#">
                                        <i class="bi bi-github"></i>
                                    </a>
                                </li>
                            </template>
                            <template data-simply-template="social-media-slack">
                                <li class="list-inline-item">
                                    <a data-simply-field="slack" class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="#">
                                        <i class="bi bi-slack"></i>
                                    </a>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
        
        <!-- JS Space -->
        <script src="../assets/js/hs.core.js"></script>
        <script src="../assets/js/theme.min.js"></script>
        <script src="../assets/js/hs.bs-validation.js"></script>
        <script src="../assets/vendor/hs-sticky-block/dist/hs-sticky-block.min.js"></script>
        <script src="../assets/vendor/hs-scrollspy/dist/hs-scrollspy.min.js"></script>
        <script src="../assets/js/theme-custom.js"></script>

        <!-- JS Plugins Init. -->
        <script>
            (function() {
                // INITIALIZATION OF STICKY BLOCKS
                // =======================================================
                Promise.all(Array.from(document.images)
                .filter(img => !img.complete)
                .map(img => new Promise(resolve => {
                    img.onload = img.onerror = resolve
                })))
                .then(() => {
                    new HSStickyBlock('.js-sticky-block', {
                    targetSelector: document.getElementById('header').classList.contains('navbar-fixed') ? '#header' : null
                    })
                })


                // INITIALIZATION OF SCROLLSPY
                // =======================================================
                new bootstrap.ScrollSpy(document.body, {
                target: '#navbarSettingsEg2',
                offset: 10
                })

                new HSScrollspy('#navbarVerticalNavMenuEg2', {
                breakpoint: 'lg'
                })
            })()
        </script>
        
        <script src="//cdn.simplyedit.io/1/simply-edit.js" 
            data-api-key="muze"
            data-simply-images="/img/"
            data-simply-files="/files/"
            data-simply-settings="seSettings"
            data-storage-get-post-only
        ></script>
        <script src="/js/simplyedit-helper.js"></script>
    </body>
</html>