[submodule "simply-edit-backend"]
	path = simply-edit-backend
	url = git@github.com:simplyedit/simply-edit-backend
[submodule "login-helper"]
	path = login-helper
	url = git@github.com:SimplyEdit/login-helper.git
[submodule "simplyview"]
	path = simplyview
	url = git@github.com:simplyedit/simplyview
